{% extends "WebProjectApp/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <h2 class="text-center mb-4">Regístrate</h2>
            <form id='auth-form' method="post" action="" style='background-color: #f8f9fa; color:black'>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-block w-100 mt-3">Regístrate</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}