{% extends "WebProjectApp/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <h2 class="text-center mb-4">Iniciar sesión</h2>
            <form id='login-form' method="post" action="" style='background-color: #f8f9fa; color:black'>
                {% csrf_token %}

                    {% if messages %}
                
                    {% for msg in messages %}
                
                        <div class="alert {{ msg.tags }}">{{ msg }}</div>
                
                    {% endfor %}

                    {% endif %}

                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-block w-100 mt-3">Acceder</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}