{% extends "WebProjectApp/base.html" %} 

{% load static %} 

{% block content %} 

<div class="container m-10">
  
  <div>

    {% if request.user.is_authenticated %}
    
      {% include "CartApp/cart_widget.html" %}

    {% else %}
    
      <div id='login-warning'>
      Regístrate para ver el carro
      </div>
    {% endif%}

  </div>

  <div class="row">
    {% for item in all_items %}
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top h-50">
          <div class="card-body text-center">
            <p class="card-title">{{ item.name }}</p>
            <p class="card-text">{{ item.prize }}&nbsp;€</p>
          </div>

          <div class="card-footer text-center">
            <a href="{% url 'cart:agregar' item_id=item.id %}">Agregar</a>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}