{% extends "WebProjectApp/base.html" %} 

{% load static %} 

{% block content %} 

<div class="container m-4" id='shop-container'>
  
  <div style="float:right;">
    <p style="color:white;">Total: {{total_cart_amount}} €</p>
  </div>

  <div class="row">
    {% for product in all_products %}
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top h-50">
          <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.prize }}&nbsp;€</p>
          </div>

          <div class="card-footer text-center">
            <a href="#" class="btn btn-success">Añadir al carro</a>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock %}